<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
     <h1>Hello</h1>
     <p> My name; {{ name }}</p>
     <p> My age; {{ age }}</p>
     <br />
     <p> My name2; {{ my_dict.name }}</p>
     <p> My age2; {{ my_dict.age }}</p>
        
        <script src="" async defer></script>
    </body>
</html>